<!DOCTYPE html>
<html>
<head>
	<title>Class Schedule</title>
	<style type = "text/css">
	body
	{
		font-family: arial;
	}

	th,td
	{
		margin: 0;
		text-align: center;
		border-collapse: collapse;
		outline: 1px solid #e3e3e3;
	}

	td
	{
		padding: 5px 10px;
	}

	th
	{
		background:#666;
		color:white;
		padding: 5px 10px;
	}

	td:hover
	{
		cursor: pointer;
		background: #666;
		color: white;
	}
</style>
</head>
<body>
    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
</div>  

    <tr>
        <th>9:00</th>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href="6.009.html">6.009</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href="6.009.html">6.009</a></td>

        </div>
    </tr>

    <tr>
        <th>9:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>
        </div>
    </tr>

    <tr>
        <th>10:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>
            

        </div>
    </tr>

    <tr>
        <th>10:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td><a href = "6.009.html">6.009</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.009.html">6.009</a></td>

        </div>
    </tr>

    <tr>
        <th>11:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>11:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>12:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td><a href = "8.02.html">8.02</a></td>
        </div>
    </tr>

    <tr>
        <th>12:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "8.02.html">8.02</a></td>
            <td><a href = "8.02.html">8.02</a></td>
        </div>
    </tr>

    <tr>
        <th>1:00</td>
        
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
        </div>
    </tr>

    <tr>
        <th>1:30</td>
        
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
        </div>
    </tr>

    <tr>
        <th>2:00</td>
        
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "6.042.html">6.042</a></td>
        </div>
    </tr>

    <tr>
        <th>2:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>3:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>3:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>4:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>4:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>5:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>5:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>6:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>6:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>7:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>7:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>
    <tr>
        <th>8:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>8:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>9:00</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

    <tr>
        <th>9:30</td>
        
            <td title="No Class" class="Holiday"></td>
            <td><a href = "21L.011.html">21L.011</a></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
            <td title="No Class" class="Holiday"></td>
        </div>
    </tr>

</table>
</body>
</html>



